@media (max-width: 576px) {
    .card-columns {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
    }
    .avatar {
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }
  }
  
  @media (min-width: 577px) {
    .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
  @media (min-width: 768px) {
    .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
  
  .card {
    max-width: 300px;
  }
  
  .khusus-card > .card {
    max-width: 100%;
  }

  #card-comment:hover{
    background-color: aqua;
  }